*{
    margin: 0;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body{
 font-family: "Inter", sans-serif;
 background: #FFF7ED;
}

.notAvailable{
    filter: grayscale(100%);
}

/* nav */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: 900;
    font-size: 18px;
    height: fit-content;
    box-sizing: border-box;
}

.nav-content{
    display: flex;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    justify-content:center;
}

.nav-item{
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: 0.3s;
    
}
.nav-btn{
    align-items: center;
}

.nav-btn:hover {
    /* transform: translate(1px, 1px); */
    color: #FF8C38;
}

.nav-btn-selected{
    color: #FF8C38;
}

.login-link{
    font-size: 25px;
}

@media (max-width: 455px) {
    nav {
            padding: 7px;
            font-weight: 900;
            font-size: 16px;
        }
    
    .nav-content {
        font-weight: 600;
        font-size: 14px;
        }
   
}

/* Footer */
footer{
    font-size: 14px;
    font-weight: 500;
    color: #AAAAAA;
    text-align: center;
    background: #252525;
    padding: 10px;
    flex-shrink: 0;
    margin-top: auto;
}

/* Home page */

.home-container{
    background: url("./Images/HomePageImage.png") no-repeat center center;
    background-size: cover;
    color: white;
    padding: 45px 23px;
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    /* flex-grow: 1; */
    height: 100vh;
}

.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.home-main-img{
    width: 100vw;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
    margin-bottom: 10px;
    padding: 0 15px 0 15px;
}

.home-container p {
    line-height: 24px;
    padding: 0 15px 0 15px;
}

.home-container a {

    text-align: center;
    text-decoration: none;
    background-color: #FF8C38;
    border: none;
    width: fit-content;
    margin-top: 27px;
    padding: .75rem 1.25rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
    opacity: 0.9;
    text-wrap: nowrap;
}

.home-container a:hover {
    /* transform: translate(1px, 1px); */
    opacity: 1;
}

/*** ABOUT PAGE ***/

.about-page-hero{
    display: flex;
    padding: 5px 20px;
    column-gap: 20px;
    margin-bottom: 20px;
}

.about-page-image {
    width: 100%;
    border-radius: 10px;
}

.about-page-content {
    padding-inline: 5px;
    color: #161616;
}

.about-page-content h1 {
    line-height: 120%;
    font-size: 40px;
    margin-bottom: 20px;
}

.about-page-content p {
    line-height: 150%;
}

.about-page-cta {
    background-color: #FFCC8D;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button {
    background-color: #161616;
    color: white;
    border-radius: 10px;
}

@media (max-width: 455px){
    .about-page-hero{
        flex-direction: column;
        row-gap: 15px;
    }

    .about-page-content h1{
        font-size: 26px;
        line-height: 120%;
    }
}

/* Login Page */

.login-container{
    /* height: 100vh; */
    display: flex;
    margin: 30px;
    box-sizing: border-box;
    overflow: hidden;
    background: white;
    border-radius: 5px;
}

.login-img{
    width: 40%;
    height: auto;
}

.login-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    min-width: 500px;
    margin: auto;
}

.login-content h2{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 110%;
}

.login-content h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 150%;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    align-items: flex-start;
}

.login-form input{
    outline: none;
    width: 80%;
    min-width: 200px;
    max-width: 500ps;
    margin-bottom: 20px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D1D5DB;
    padding: 5px 10px;
    box-sizing: border-box;
}

.login-form  button{
    width: 80%;
    min-width: 200px;
    max-width: 500ps;
}
/* Explore Spaces */

.space-list-container {
    padding-inline: 30px;
    margin: 20px 0;
    background: #FFF7ED;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space-list-filters{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    flex-wrap: wrap;
    grid-auto-rows: 1fr
}

.space-list-filters button{
    margin-bottom: 0;
    background-color: #FFEAD0;
    color: #4D4D4D ;
}

.space-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
}

.explore-space-link {
    text-decoration: none;
    color: initial;
}

a {
    text-decoration: none;
    color: initial;
}

.space-tile{
    padding: 15px;
    border-radius: 7px;
    background: white;
}

.space-tile img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 10px;
    aspect-ratio: 4/2.5;
}


.space-price{
    margin-bottom: 15px;
}

.space-type {
    padding: 8px 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #E17654;
    color: #FFEAD0;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterBtn:hover, .filterBtn.selected {
    color: #FFEAD0;
    background-color: #161616;
}

/* .space-type.fullyFurnished:hover, .space-type.fullyFurnished.selected {
    background-color: #ea5123;
}

.space-type.semiFurnished:hover, .space-type.semiFurnished.selected {
    background-color: #115E59;
}

.space-type.lightlyDecorated:hover, .space-type.lightlyDecorated.selected {
    background-color: #161616;
}

.space-type.naturallyDecorated:hover, .space-type.naturallyDecorated.selected {
    background-color: #3f924b;
}

.space-type.rawSpace:hover, .space-type.rawSpace.selected {
    background-color: #5e7eb1;
}

.space-type.artfullyDecorated:hover, .space-type.artfullyDecorated.selected {
    background-color: #ca6a9f;
} */

.space-type.clear-filters {
    margin-left: -50px;
    /* height: 34px; */
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    /* border: none; */
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='space-type-'] {
    padding: 7px 14px;
}

@media (max-width: 455px){
    .space-list-container h1{
        font-size: 25px;
    }

    .space-list{
        margin-top: 25px;
    }
}

/* Space Details */
.space-detail-container{
    display: flex;
    justify-content: center;
}

.space-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0 20px 0;
    width: 50%;
    /* row-gap: 10px; */
}


.space-detail a{
    margin-bottom: 15px;
}

.space-detail-faIcon{
    opacity: 0.8;
    font-size: 14px;
}

.space-detail-backLink{
    text-decoration: underline;
    padding: 10px;
}

.space-detail img{
    width: 80%;
    margin-bottom: 15px;
    border-radius: 5px;
}
.space-detail-rating{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 500;
}

.star{
    color:#FFC118;
    padding-inline: 6px;
    font-size: 20px;
}

.space-detail-tags{
    display: flex;
    column-gap: 10px;
}

.space-available{
    background-color: #FFEAD0;
    color: #4D4D4D;
}

.space-price{
    font-size: 18px;
    margin-top: 15px;
}

.space-price span{
    font-size: 20px;
    font-weight: 600;
}

.space-detail-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.space-detail-address{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #E17653;
}

.space-detail-infogrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 16px;
    justify-content: space-between;
    row-gap: 10px;
    margin-bottom: 15px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    margin-right: 20px;
}

.item-title{
    color: rgba(22, 22, 22, 0.56);
}

.space-detail-amenities{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-bottom: 15px;
}

.space-detail-ammenity-items{
    display: flex;
    column-gap: 10px;
}

.space-detail-amenity{
    padding: 8px;
    border:1px solid #FF8C38;
    border-radius: 5px;
}

.space-detail-rules{
    margin-bottom: 15px;
}

.space-detail-rules ul{
    margin: 0;
    padding-inline-start: 30px;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
    background-color: #FF8C38;
    width: 80%;
    margin: 15px 0px;
}

/* Rent Out Layout */

.rent-out-layout{
    padding: 30px;
}

.rentOut-nav{
    font-weight: 500;
    font-size: 16px;
    justify-content: space-between;
    width: 60%;
    padding: 0;
    margin-bottom: 20px;
}

.rentOut-nav-item{
    color: #4D4D4D;
}

.rentOut-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.rentOut-nav-selected{
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

/* RentOut/ Host-Spaces-Page  */

.host-space-list-container{
    padding-inline: 0;
    margin: 30px 0;
}

.host-space-list{
    margin-top: 30px;
}

.host-space-link{
    text-decoration: none;
    color: initial;
    width: fit-content;
    width: 48%;
    min-width: 300px;
    /* max-width: 40%; */
}

.host-space-tile{
    display: flex;
    padding: 10px 15px;
    border-radius: 5px;
    background: white;
    column-gap: 7px;
}

.host-space-img{
    width: 100px;
    border-radius: 5px;
}

.host-space-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 7px;
}

.host-space-info h3{
    font-size: 16px;
}

/* rentOut/host spaces/ space detail page */

.host-space-detail-layout {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-start;
}

.host-space-detail-layout-content{
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin: 5px 0;
}

.host-space-detail-layout-content img{
    width: 50%;
    min-width: 250px
}

.host-space-detail{
    width: fit-content;
    margin-bottom: 5px;
}

.host-space-detail-nav{
    margin-bottom: 0;
}

/* rentout/space/:id / details */
.host-space-detail-info{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    row-gap: 18px;
}

.host-space-info-title{
    font-weight: 600;
}

.host-space-detail-info img{
    width: 200px;
}

/* Not Found Page */

.not-found-container {
    padding-inline: 30px;
    margin-top: 30px;
}

.not-found-container .link-button {
    width: 30%;
    background-color: #161616;
    color: white;
    margin-top: 30px;
    font-size: 16px;
}

